<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/blog-list.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
    <style type="text/css">
        .show-grid [class ^="col-"] {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #eee;
            border: 1px solid #ddd;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }
    </style>
    <script type="text/javascript">
        $(function(){
        });
    </script>
</head>

<body>

<div class="container">
    <div class="row">
        <img src="../static/img/blog-bg.jpg" width="100%" height="200" alt="xxx">
    </div>
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <div class="row blog-header">
                <div class="col-sm-3  ">
                    <div class="blog-title">
                        博客文章
                    </div>
                </div>
                  <div class="col-sm-5"></div>
                  <div class="col-sm-4">
                    <div class="search-bar">
                        <input type="search" class="form-control">
                    </div>
                </div>
            </div>


            <div class="blog-list clearfix">
                <div class="row">
                <div class="blog-item">
                    <div class="col-sm-3  ">
                        <div class="left-date">
                            <div class="month">
                                12/26
                            </div>
                            <div class="year">
                                2018
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-9 right-info">
                        <div class="title">
                            <a href="#">Hadoop的框架分析和解决方案</a>
                        </div>
                        <div class="summary">
                            Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案
                        </div>
                        <div class="tag-list">
                            <div class="tag">Hadoop</div>
                            <div class="tag">Hadoop2</div>
                        </div>
                    </div>
                </div>
                    <div class="blog-item">
                        <div class="col-sm-3  ">
                            <div class="left-date">
                                <div class="month">
                                    12/26
                                </div>
                                <div class="year">
                                    2018
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 right-info">
                            <div class="title">
                                <a href="#">Hadoop的框架分析和解决方案</a>
                            </div>
                            <div class="summary">
                                Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案
                            </div>
                            <div class="tag-list">
                                <div class="tag">Hadoop</div>
                                <div class="tag">Hadoop2</div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="col-sm-3  ">
                            <div class="left-date">
                                <div class="month">
                                    12/26
                                </div>
                                <div class="year">
                                    2018
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 right-info">
                            <div class="title">
                                <a href="#">Hadoop的框架分析和解决方案</a>
                            </div>
                            <div class="summary">
                                Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案Hadoop的框架分析和解决方案
                            </div>
                            <div class="tag-list">
                                <div class="tag">Hadoop</div>
                                <div class="tag">Hadoop2</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>

</html>