<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="base::commonHead">
</head>
<head>
    <!--引入起始页css-->
    <link href="/static/css/index.css" rel="stylesheet">

</head>
<body>

<!--引入头部-->
<nav th:replace="base::commonNav"></nav>

<div id="content">
    <!--文章大题图-->
    <div id="articlePicture">
        <img src="" />
    </div>

    <!--文章信息-->
    <div id="articleInfo">
        <!--文章标题-->
        <div>
            <h1 id="articleTitle" >xxx</h1>
        </div>

        <!--文章简介-->
        <div>
            <h4 id="articleSummary" >xxxxxx</h4>
        </div>

        <!--查看文章按钮-->
        <button id="showArticle" type="button" class="btn" articleId="">查看<span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>

    <!--右下角的题图-->
    <div class="smallArticlePictures">
        <div class="smallPictures">
            <img src="" picturelUrl="" location="0" articleId="" title="" summary=""  />
        </div>
        <div class="smallPictures">
            <img src="" picturelUrl="" location="1" articleId="" title="" summary="" />
        </div>
        <div class="smallPictures">
            <img src="" picturelUrl="" location="2" articleId="" title="" summary="" />
        </div>
        <div class="smallPictures">
            <img src="" picturelUrl="" location="3" articleId="" title="" summary="" />
        </div>
        <div class="smallPictures">
            <img src="" picturelUrl="" location="4" articleId="" title="" summary="" />
        </div>
    </div>

</div>

<!--底部-->
<div id="footer">
    <!--左下角的icon-->
    <div>
        <a href="https://www.jianshu.com/u/a40d61a49221" style="margin-left: 20px;" title="简书ID：我没有三颗心脏"><img class="icon" src="/static/img/jianshu-icon.png" /></a>
        <img title="知乎ID：我没有三颗心脏" class="icon" src="/static/img/zhihu-icon.png" />
        <img title="wmyskxz_javaweb" class="icon" src="/static/img/wechat-icon.png" />
    </div>

    <!--左上角的声明-->
    <div id="info">
        <span>CopyRight@wmyskxz,DesignBy@_Nic,2018-20xx</span>
    </div>

</div>

</body>
<script>
    // 页面初始化：填充数据
    window.onload = function() {
        $.ajax({
            url: "/api/article/list/lastest",
            type: "GET",
            success: function(json) {
                console.log(json);
                $.each(json.data, function(i, item) {
                    // 设置右下角题图的内容
                    $(".smallPictures img[location=" + i + "]").attr("src", item.pictureUrl);
                    $(".smallPictures img[location=" + i + "]").attr("pictureUrl", item.pictureUrl);
                    $(".smallPictures img[location=" + i + "]").attr("articleId", item.id);
                    $(".smallPictures img[location=" + i + "]").attr("title", item.title);
                    $(".smallPictures img[location=" + i + "]").attr("summary", item.summary);

                    // 默认显示第一篇文章的信息
                    if(i == "0") {
                        $("#articleTitle").html(item.title);
                        $("#articleSummary").html(item.summary);
                        $("#articlePicture img").attr("src", item.pictureUrl);
                        $("#showArticle").attr("articleId", item.id);
                    }
                });
            }
        });
    };

    // 按钮点击进行文章详情页
    $("#showArticle").click(function() {
        var articleId = $(this).attr("articleId");
        var url = "article/"+ articleId;
        window.location.href = url;
    });


    // 缩略图鼠标进入事件：更换大图和按钮的articleId
    $(".smallPictures img").mouseenter(function() {
        var pictureUrl = $(this).attr("pictureUrl");
        var articleId = $(this).attr("articleId");
        var title = $(this).attr("title");
        var summary = $(this).attr("summary");
        $("#articlePicture img").attr("src", pictureUrl);
        $("#showArticle").attr("articleId", articleId);
        $("#articleTitle").html(title);
        $("#articleSummary").html(summary);
    });


</script>
<!--
引入index页面的JS
<script language="javascript" type="text/javascript" src="/static/js/index.js"></script>
-->

</html>