<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::commonHead" ></head>
<head>
    <meta charset="utf-8" />
    <title>wmyskxz个人博客</title>

    <!-- 引入 JQ 和 Bootstrap -->

    <style>
        #content {
            margin: 20px auto 5px auto;
            width: 60%;
        }
    </style>
</head>

<body>
<!--引入头部-->
<nav th:replace="base::commonNav"></nav>
<!--主体部分-->
<div id="content">
    <h2>简历页内容待完善</h2>
</div>
<!--引入尾部-->
<script language="javascript" type="text/javascript" src="/static/js/footer.js"></script>

</body>

</html>